<input type="text" (input)="searchPerson()" [(ngModel)]="keyword">
<button (click) = "searchPerson()"> Recherche </button>
<table>
  <tr><th>Full Name</th><th>Username</th><th>Email</th></tr>
  <tr *ngFor="let person of persons; let i=index;">
    <td>{{ person.name }}</td>
    <td>{{ person.username }}</td>
    <td>{{ person.email }}</td>
    <td>{{ person.company.name }}</td>
    <td>
      <button (click)="deletePerson(i)">Delete</button>
      <button (click)="showPerson(person.id)">Show</button>
    </td>
  </tr>
</table>
<app-detail [person]="selectedPerson" (clickedPerson)="clickedPerson($event)"></app-detail>